.post_reply {
  border-top: 1px solid var(--clr-gray-400);
  &__input {
    width: 100%;
    height: 42px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    font-size: 0.85rem;
    color: var(--clr-gray-100);
    border: 1px solid var(--clr-gray-500);
    background-color: var(--clr-gray-300) !important;
    outline: none !important;
    caret-color: var(--clr-gray-100);
    resize: none;
    z-index: 9;
    overflow: hidden;

    &::placeholder {
      color: var(--clr-gray-200);
    }
  }

  &__counter {
    position: absolute;
    bottom: 1.2rem;
    right: 0.5rem;
    font-size: 0.75rem;
    color: var(--clr-gray-200);
    z-index: 10;
  }

  &__button {
    background-color: var(--clr-posterr-300) !important;
    color: var(--bs-light) !important;
    transition: all 195ms linear;

    &:hover {
      background-color: var(--clr-posterr-400) !important;
    }

    &:disabled {
      border-color: transparent !important;
    }
  }
}
