.post {
  &_card {
    background: var(--clr-gray-600);
  }

  &__link {
    transition: color 195ms ease;
    &:hover {
      color: var(--clr-posterr-200) !important;
    }
  }
  &_header {
    &__avatar {
      width: 45px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid var(--clr-gray-400);
      overflow: hidden;
    }

    &__title {
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
    }
  }

  &_body {
    margin: 1.5rem 0;

    &_repost {
      background: var(--bs-gray-800);
      padding: 1rem;
      border-radius: 0.4rem;
      display: inline-block;

      &__name {
        color: var(--bs-gray-400);
      }

      &__image {
        width: 25px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        filter: saturate(0);
      }
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &_counter {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: transparent;
      border: none;
      color: var(--bs-gray-600);
      transition: color 195ms ease;

      & ion-icon {
        font-size: 1.2rem;
      }

      &:active,
      &:hover,
      &.active {
        outline: none !important;
        border-color: transparent !important;
        color: var(--clr-posterr-200) !important;
      }
    }

    &_box {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      &__btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;
        // background-color: transparent;
        // border: 1px solid var(--bs-gray-600);
        border-radius: 0.5rem;
        // color: var(--bs-gray-600);
        transition: color 195ms ease;

        &:active,
        &:hover,
        &.active {
          outline: none !important;
          border-color: var(--clr-posterr-200) !important;
          color: var(--clr-posterr-200);
        }
      }
      & ion-icon {
        font-size: 1.2rem;
      }
    }
  }
}

.comment_structure {
  border-top: 1px solid var(--clr-gray-400);
}
