@import '../node_modules/bootstrap/scss/bootstrap';
@import './assets/sass/global.scss';

$theme-colors: (
  'primary': #4d3cc6,
  'secondary': #5d5a6d,
);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  min-height: 100vh;
  background-color: var(--clr-posterr-700);
  padding-top: var(--header-height);
  color: var(--bs-light);
}
