:root {
  // Sizing
  --size-base: 1rem;
  --size-mini: 4px;
  --size-tiny: 6px;
  --size-2xs: 8px;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;

  --header-height: 4.5rem;

  // Colors
  --clr-posterr-100: #b8b0f0;
  --clr-posterr-200: #968cde;
  --clr-posterr-300: #6c5ecf;
  --clr-posterr-400: #4d3cc6;
  --clr-posterr-500: #1f156b;
  --clr-posterr-600: #161046;

  --clr-gray: #5d5a6d;
  --clr-gray-dark: #343a40;
  --clr-gray-100: #dfe3e7;
  --clr-gray-200: #8e9196;
  --clr-gray-300: #353340;
  --clr-gray-400: #5d5a6d;
  --clr-gray-500: #252836;
  --clr-gray-600: #1d242c;
}
